#container {
  border: solid black 1px;
  padding: 30px;
  background-color: grey;
  width: 500px;
  text-align: center;
  font-family: 'Coda', sans-serif;
}

#display {
  width: 98%;
  height: 5%;
  text-align: right;
  font-size: 1.5rem;
  font-family: 'Coda', sans-serif;
  margin: 1px;
}
.num {
  font-family: 'Coda', sans-serif;
  background-color: white;
  font-size: 2rem;
  height: 5%;
  width: 20%;
  display: inline-block;
  padding: 5px;
}

.oper {
  font-size: 2rem;
  height: 5%;
  width: 20%;
  display: inline-block;
  padding: 5px;
}
